@using System.Web
@model ArtGalaxy.Models.ViewModels.PortfolioViewModel

@{
    ViewData["Title"] = "Index";
}

<style>
    h2, h3 {
        text-align: center;
        font-weight: bold;
    }

    h1 {
        font-weight: bolder;
    }

    .image {
        width: 400px;
        height: 400px;
        border: 0.5px dashed lightgreen;
    }

    ul {
        list-style-type: none;
    }

    .portfolio-link {
        color: orange;
        text-decoration: none;
    }

    .art-wrapper {
        font-size: 30px;
        @*width: 50vh;*@
        text-align: center;
        
    }

    .literature-wrapper {
        text-align: center;
        border: 0.5px dashed lightgreen;
    }

    strong {
        font-size: 30px;
        font-weight: bold;
    }
</style>

<partial name="_StatusMessage" for="StatusMessage" />

<br />
<!-- Display Artworks -->

@if(Model.IsSelf)
{
    <h1>My Portfolio</h1>
}
else
{
    <h1>@Model.PortfolioDisplayName's Portfolio</h1>
}

<br /><br />

<div class="row">
    <div class="col-md-6">
        @if(Model.IsSelf)
        {
            <h3>My Art</h3>
        }
        else
        {
            <h3>@Model.PortfolioDisplayName's Art</h3>
        }

        <br />
        @if (Model.Artworks.Any())
        {
            <ul>
                @foreach (var artwork in Model.Artworks)
                {
                    <a class="portfolio-link" href="/View/Art/@artwork.Id">
                        <li>
                            <div class="art-wrapper">
                                <strong>@artwork.Title</strong><br />

                                @{
                                    var base64Image = Convert.ToBase64String(artwork.Image); 
                                                <img src="data:image/jpeg;base64, @base64Image" alt="Artwork Image" class="image"/><br /><br />
                                }
                            </div>   
                        </li>
                    </a>
                }
            </ul>
        }
        else
        {
            <h5>No art to display. 
                @if(Model.IsSelf)
                {
                    @:Upload your art <a href = "/Upload/Artwork">here</a>!
                }
            </h5>
        }
    </div>


    <!-- Display Stories -->
    <div class="col-md-4">
        @if(Model.IsSelf)
        {
            <h3>My Stories</h3>
        }
        
        else {
            <h3>@Model.PortfolioDisplayName's Stories</h3>
        }
        <br />
        @if (Model.Stories.Any())
        {
            <ul>
                @foreach (var literature in Model.Stories)
                {
                    <a class="portfolio-link" href="/View/Literature/@literature.Id">
                        <li>
                            <div class="literature-wrapper">
                                <strong>@literature.Title</strong><br />
                                @if(!string.IsNullOrEmpty(literature.Description)) {
                                    @Html.Raw(literature.Description.Replace("\n", "<br>"))<br />
                                }
                            </div>       
                            <br /><br />
                        </li>
                    </a>
                }
            </ul>
        }
        else
        {
            <h5>
                No stories to display.
                @if (Model.IsSelf)
                {
                    @:Upload a literature <a href="/Upload/Literature">here</a>!
                }
            </h5>
        }

    </div>
</div>


